In [2]:
import pandas
import pandas as pd

In [3]:
# # Dollar Data

# for y in range(2015,2016):
#     df = pd.read_csv(f'Raw_Data/{y}_NAICS_452990.csv', encoding='latin-1')
#     df = df.drop(df.index[0])
#     df = df[['GEO.id2','YEAR.id','ESTAB','EMP', 'PAYANN']]
# #     df = df[['GEO.id2','YEAR.id','ESTAB','EMP', 'PAYANN']]
#     df = df.rename(columns={'GEO.id2':'GeoID', 'YEAR.id': 'Year', 'ESTAB':'D_Etab', 'EMP':'D_Emp', 'PAYANN':'D_Pay'})
#     d_df = pd.concat([df])
#     globals()['d%s' % y] = df

In [3]:
read_df = pd.read_csv('Clean_Data/mldata_clean.csv', encoding='utf-8')

In [4]:
print(len(read_df))
read_df.head()

11607

   GeoID  Year  D_Etab  D_Emp  D_Pay  G_Etab  G_Emp   G_Pay
0   1055  2005      23    195   2189      25    913   13355
1   1073  2005      98    940  12949     162   7238  116756
2   1089  2005      53    454   5614      38   2327   37914
3   4001  2005      12     80   1150      11    306    5385
4   4003  2005      28    217   2738      16   1031   19205

In [5]:
dg_2010 = read_df[read_df['Year'].isin([2010])]

In [7]:
print(len(dg_2010))
dg_2010.head()

1026

      GeoID  Year  D_Etab  D_Emp  D_Pay  G_Etab  G_Emp  G_Pay
3580   1003  2010      37    271   5046      25   1190  25820
3581   1015  2010      30    207   3464      24    734  12338
3582   1017  2010       9     66    983       8    200   3634
3583   1019  2010       9     43    755       4    114   1612
3584   1025  2010      15    158   2467       7    252   4142

In [8]:
print(dg_2010.dtypes)

# dg_2010 = dg_2010.apply(pd.to_numeric)

GeoID     int64
Year      int64
D_Etab    int64
D_Emp     int64
D_Pay     int64
G_Etab    int64
G_Emp     int64
G_Pay     int64
dtype: object

In [9]:
dg_2010.to_csv("Clean_Data/D_G_2010_CLEAN.csv", index=False, header=True)