In [1]:
import pandas
import pandas as pd

In [2]:
# fd_2010 = pd.read_csv('Clean_Data/FD_2010.csv', encoding='utf-8')
# pop_2010 = pd.read_csv('Clean_Data/POP_2010.csv', encoding='utf-8')

fd_2015 = pd.read_csv('Clean_Data/FD_2015.csv', encoding='utf-8')
pop_2015 = pd.read_csv('Clean_Data/POP_2015.csv', encoding='utf-8')

In [3]:
# print(fd_2010.columns)
# print(pop_2010.columns)

In [4]:
print(fd_2015.columns)
print(pop_2015.columns)

Index(['GeoID', 'FD_num_2015', 'FD_pct_2015'], dtype='object')
Index(['GeoID', 'Pop_2015'], dtype='object')

In [5]:
fd_2015.head()

   GeoID  FD_num_2015  FD_pct_2015
0   1001      17497.0        32.06
1   1003      30561.0        16.77
2   1005       6070.0        22.11
3   1007        969.0         4.23
4   1009       3724.0         6.50

In [6]:
pop_2015.head()

   GeoID  Pop_2015
0   1001     55035
1   1003    203690
2   1005     26270
3   1007     22561
4   1009     57676

In [7]:
# merged_df = pd.merge(pop_2010, fd_2010, on='GeoID')

In [8]:
merged_15 = pd.merge(pop_2015, fd_2015, on='GeoID')

In [9]:
merged_15.head()

   GeoID  Pop_2015  FD_num_2015  FD_pct_2015
0   1001     55035      17497.0        32.06
1   1003    203690      30561.0        16.77
2   1005     26270       6070.0        22.11
3   1007     22561        969.0         4.23
4   1009     57676       3724.0         6.50

In [24]:
merged_15 = merged_15.dropna(how='any')

In [25]:
# merged_15.iloc[:,0:1]=merged_15.iloc[:,0:1].astype(int)
merged_15.iloc[:,2:3]=merged_15.iloc[:,2:3].astype(int)

In [26]:
merged_15.dtypes

GeoID            int64
Pop_2015         int64
FD_num_2015      int64
FD_pct_2015    float64
dtype: object

In [27]:
merged_15.to_csv("Clean_Data/FD_2015_CLEAN.csv", index=False, header=True)

In [28]:
clean = fd_2015 = pd.read_csv('Clean_Data/FD_2015_CLEAN.csv', encoding='utf-8')
clean.head()

   GeoID  Pop_2015  FD_num_2015  FD_pct_2015
0   1001     55035        17497        32.06
1   1003    203690        30561        16.77
2   1005     26270         6070        22.11
3   1007     22561          969         4.23
4   1009     57676         3724         6.50