### Make a combined chart of all predictions for Viz
#### Remember that 2010 and 2015 have real data

In [3]:
import pandas
import pandas as pd

In [5]:
# read in predictions
years = [2005, 2006, 2007, 2008, 2009, 2011, 2012, 2013, 2014, 2016]

for y in years:
    df = pd.read_csv(f'ML_Output/Predictions_combomodel/ML_{y}_combomodel.csv', encoding='utf-8')
    df = df.rename(columns={f'Pop_{y}':'Pop', f'FD_num_{y}':'FD_num', f'FD_pct_{y}':'FD_pct'})
    d_df = pd.concat([df])
    globals()['ml%s' % y] = df

In [6]:
print(len(ml2006))
ml2006.head()

311

,GeoID,County,State,Year,D_Etab,D_Emp,D_Pay,G_Etab,G_Emp,G_Pay,Pop,D_Cap,G_Cap,FD_num,FD_pct
0,1055,Etowah County,Alabama,2006,27,255,2981,27,900,13321,103528,3834,3834,45006,43.47
1,1073,Jefferson County,Alabama,2006,97,974,12690,167,7300,120170,655893,6761,3927,242868,37.03
2,1089,Madison County,Alabama,2006,58,514,6398,36,2388,39357,309170,5330,8588,117540,38.02
3,1107,Pickens County,Alabama,2006,9,64,724,7,162,1928,20128,2236,2875,3056,15.18
4,4001,Apache County,Arizona,2006,11,76,1099,11,308,5472,69390,6308,6308,12998,18.73

In [7]:
# read in real data
train2010 = pd.read_csv(f'ML_Output/ML_2010_COMPLETE.csv', encoding='utf-8')
train2010 = train2010.rename(columns={'Pop_2010':'Pop','FD_num_2010':'FD_num', 'FD_pct_2010':'FD_pct'}) 

train2015 = pd.read_csv(f'ML_Output/ML_2015_COMPLETE.csv', encoding='utf-8')
train2015 = train2015.rename(columns={'Pop_2015':'Pop','FD_num_2015':'FD_num', 'FD_pct_2015':'FD_pct'})

In [8]:
print(len(train2015))
train2015.head()

1529

,GeoID,County,State,Year,D_Etab,D_Emp,D_Pay,G_Etab,G_Emp,G_Pay,Pop,D_Cap,G_Cap,FD_num,FD_pct
0,1001,Autauga County,Alabama,2015,11,93,1703,5,283,5691,55035,5003,11007,17497,32.06
1,1003,Baldwin County,Alabama,2015,50,429,7054,30,1774,36515,203690,4073,6789,30561,16.77
2,1005,Barbour County,Alabama,2015,8,60,844,4,159,2733,26270,3283,6567,6070,22.11
3,1007,Bibb County,Alabama,2015,5,40,596,5,111,2497,22561,4512,4512,969,4.23
4,1015,Calhoun County,Alabama,2015,34,263,4461,29,832,15066,115285,3390,3975,27786,23.43

In [9]:
concat_df = pd.concat([ml2005, ml2006, ml2007, ml2008, ml2009,\
                       train2010,\
                       ml2011, ml2012, ml2013, ml2014,\
                       train2015,\
                       ml2016])

In [10]:
print(len(concat_df))
print(concat_df.dtypes)
concat_df.tail()

12084
GeoID       int64
County     object
State      object
Year        int64
D_Etab      int64
D_Emp       int64
D_Pay       int64
G_Etab      int64
G_Emp       int64
G_Pay       int64
Pop         int64
D_Cap       int64
G_Cap       int64
FD_num      int64
FD_pct    float64
dtype: object

,GeoID,County,State,Year,D_Etab,D_Emp,D_Pay,G_Etab,G_Emp,G_Pay,Pop,D_Cap,G_Cap,FD_num,FD_pct
1518,56005,Campbell County,Wyoming,2016,4,95,1460,5,259,4051,48746,12186,9749,18365,37.67
1519,56007,Carbon County,Wyoming,2016,5,40,1012,4,128,3850,15684,3136,3921,-7128,-45.45
1520,56013,Fremont County,Wyoming,2016,7,82,2183,9,424,9524,40223,5746,4469,-662,-1.65
1521,56021,Laramie County,Wyoming,2016,10,79,1200,9,551,9022,97978,9797,10886,24087,24.58
1522,56023,Lincoln County,Wyoming,2016,5,40,689,5,193,3781,19062,3812,3812,-805,-4.22

In [11]:
concat_df.columns

Index(['GeoID', 'County', 'State', 'Year', 'D_Etab', 'D_Emp', 'D_Pay',
       'G_Etab', 'G_Emp', 'G_Pay', 'Pop', 'D_Cap', 'G_Cap', 'FD_num',
       'FD_pct'],
      dtype='object')

In [12]:
viz_df = concat_df[['GeoID', 'Year', 'State', 'County',  
                    'D_Etab', 'G_Etab', 'D_Cap', 'G_Cap',
                    'Pop', 'FD_num', 'FD_pct']]
viz_df.head()

,GeoID,Year,State,County,D_Etab,G_Etab,D_Cap,G_Cap,Pop,FD_num,FD_pct
0,1055,2005,Alabama,Etowah County,23,25,4485,4126,103174,40657,39.41
1,1073,2005,Alabama,Jefferson County,98,162,6682,4042,654919,233646,35.68
2,1089,2005,Alabama,Madison County,53,38,5688,7933,301474,108943,36.14
3,4001,2005,Arizona,Apache County,12,11,5710,6229,68521,12896,18.82
4,4003,2005,Arizona,Cochise County,28,16,4492,7861,125786,48139,38.27

### Export full csv

In [13]:
concat_df.to_csv("ML_Output/Big_ML.csv", index=False, header=True)

### Export csv with limited columns for visualization (smaller file)

In [14]:
viz_df.to_csv("ML_Output/Big_Viz.csv", index=False, header=True)

In [12]:
check = pd.read_csv("ML_Output/Big_Viz.csv", encoding='utf-8')
print(len(check))
check.tail()

12084

,GeoID,Year,State,County,D_Etab,G_Etab,D_Cap,G_Cap,Pop,FD_num,FD_pct
12079,56005,2016,Wyoming,Campbell County,4,5,12186,9749,48746,18365,37.67
12080,56007,2016,Wyoming,Carbon County,5,4,3136,3921,15684,-7128,-45.45
12081,56013,2016,Wyoming,Fremont County,7,9,5746,4469,40223,-662,-1.65
12082,56021,2016,Wyoming,Laramie County,10,9,9797,10886,97978,24087,24.58
12083,56023,2016,Wyoming,Lincoln County,5,5,3812,3812,19062,-805,-4.22