In [15]:
import pandas
import pandas as pd
import os

In [16]:
# read data 2012
year = 2012
df = pd.read_csv(f'{year}_Grocery.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_12 = df

year = 2013
df = pd.read_csv(f'{year}_Grocery.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_13 = df

year = 2014
df = pd.read_csv(f'{year}_Grocery.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_14 = df

year = 2015
df = pd.read_csv(f'{year}_Grocery.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_15 = df

year = 2016
df = pd.read_csv(f'{year}_Grocery.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_16 = df

In [17]:
# Rename columns
df_12 = df_12.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_12 = df_12[["County_State", "Estab"]]

# Rename columns
df_13 = df_13.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_13 = df_13[["County_State", "Estab"]]

# Rename columns
df_14 = df_14.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_14 = df_14[["County_State", "Estab"]]

# Rename columns
df_15 = df_15.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_15 = df_15[["County_State", "Estab"]]

# Rename columns
df_16 = df_16.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_16 = df_16[["County_State", "Estab"]]

In [18]:
df_12_13 = pd.merge(
    df_12, df_13, on="County_State", suffixes=("_12", "_13"))
df_12_13.head()

              County_State Estab_12 Estab_13
0  Autauga County, Alabama        4        5
1  Baldwin County, Alabama       26       30
2  Barbour County, Alabama        5        5
3     Bibb County, Alabama        5        5
4   Blount County, Alabama        8        7

In [19]:
df_14_15 = pd.merge(
    df_14, df_15, on="County_State", suffixes=("_14", "_15"))
df_14_15.head()

              County_State Estab_14 Estab_15
0  Autauga County, Alabama        4        5
1  Baldwin County, Alabama       29       30
2  Barbour County, Alabama        5        4
3     Bibb County, Alabama        5        5
4   Blount County, Alabama        6        5

In [31]:
df_12_13_14_15 = pd.merge(
    df_12_13, df_14_15, on="County_State")
df_12_13_14_15.head()

              County_State Estab_12 Estab_13 Estab_14 Estab_15
0  Autauga County, Alabama        4        5        4        5
1  Baldwin County, Alabama       26       30       29       30
2  Barbour County, Alabama        5        5        5        4
3     Bibb County, Alabama        5        5        5        5
4   Blount County, Alabama        8        7        6        5

In [32]:
# Mege data
grocery_df = pd.merge(
    df_12_13_14_15, df_16, on="County_State", suffixes=("", "_16"))
grocery_df.head(20)

                 County_State Estab_12 Estab_13 Estab_14 Estab_15 Estab
0     Autauga County, Alabama        4        5        4        5     3
1     Baldwin County, Alabama       26       30       29       30    29
2     Barbour County, Alabama        5        5        5        4     4
3        Bibb County, Alabama        5        5        5        5     5
4      Blount County, Alabama        8        7        6        5     5
5     Bullock County, Alabama        2        2        2        2     3
6      Butler County, Alabama        3        3        3        3     3
7     Calhoun County, Alabama       26       26       27       29    27
8    Chambers County, Alabama        8        7        7        7     7
9    Cherokee County, Alabama        4        5        5        5     5
10    Chilton County, Alabama        7        7        6        7     5
11    Choctaw County, Alabama        3        4        3        3     3
12     Clarke County, Alabama        5        5        5        6     6
13       Clay County, Alabama        3        3        3        3     3
14   Cleburne County, Alabama        3        2        2        2     2
15     Coffee County, Alabama        6        6        5        6     7
16    Colbert County, Alabama       10        8       10        8     8
17    Conecuh County, Alabama        3        2        2        1     1
18      Coosa County, Alabama        1        1        1        1     1
19  Covington County, Alabama        8        9        6        6     6

In [33]:
# Split County & State
grocery_df[['County','State']] = grocery_df.County_State.str.split(",",expand=True,)
grocery_df.head()

,County_State,Estab_12,Estab_13,Estab_14,Estab_15,Estab,County,State
0,"Autauga County, Alabama",4,5,4,5,3,Autauga County,Alabama
1,"Baldwin County, Alabama",26,30,29,30,29,Baldwin County,Alabama
2,"Barbour County, Alabama",5,5,5,4,4,Barbour County,Alabama
3,"Bibb County, Alabama",5,5,5,5,5,Bibb County,Alabama
4,"Blount County, Alabama",8,7,6,5,5,Blount County,Alabama

In [35]:
grocery_df = grocery_df[['County','State', 'Estab_12', 'Estab_13', 'Estab_14', 'Estab_15', 'Estab']]
grocery_df.head()

           County     State Estab_12 Estab_13 Estab_14 Estab_15 Estab
0  Autauga County   Alabama        4        5        4        5     3
1  Baldwin County   Alabama       26       30       29       30    29
2  Barbour County   Alabama        5        5        5        4     4
3     Bibb County   Alabama        5        5        5        5     5
4   Blount County   Alabama        8        7        6        5     5

In [36]:
grocery_df.to_csv("Grocery_Output/GroceryData.csv", index=False, header=True)