In [1]:
import pandas
import pandas as pd

In [19]:
# Data avail for 2005 to 2016; every year.

for y in range(2005,2017):
    df = pd.read_csv(f'Raw_Data/{y}_Grocery.csv', encoding='latin-1')
    df = df.drop(df.index[0])
    df = df[['GEO.id2','ESTAB']]
    df = df.rename(columns={'GEO.id2':'GeoID','ESTAB':'G_Etab_'+str(y)})
#     df = df[['GEO.id2', 'GEO.display-label','ESTAB']]
#     df = df.rename(columns={'GEO.id2':'GeoID', 'GEO.display-label':'CountyState','ESTAB':'G_Etab_'+str(y)})
#     df= df[["GeoID", "County_State", "Estab"]]
    globals()['grocery_%s' % y] = df

In [20]:
grocery_2014.columns

Index(['GeoID', 'G_Etab_2014'], dtype='object')

In [21]:
grocery_2014.head()

   GeoID G_Etab_2014
1  01001           4
2  01003          29
3  01005           5
4  01007           5
5  01009           6

In [22]:
# Merge all available dfs
groc_merge = pd.merge(
    grocery_2005, grocery_2006, on="GeoID")
groc_merge = pd.merge(
    groc_merge, grocery_2007, on="GeoID")
groc_merge = pd.merge(
    groc_merge, grocery_2008, on="GeoID")
groc_merge = pd.merge(
    groc_merge, grocery_2009, on="GeoID")
groc_merge = pd.merge(
    groc_merge, grocery_2010, on="GeoID")
groc_merge = pd.merge(
    groc_merge, grocery_2011, on="GeoID")
groc_merge = pd.merge(
    groc_merge, grocery_2012, on="GeoID")
groc_merge = pd.merge(
    groc_merge, grocery_2013, on="GeoID")
groc_merge = pd.merge(
    groc_merge, grocery_2014, on="GeoID")
groc_merge = pd.merge(
    groc_merge, grocery_2015, on="GeoID")
groc_merge = pd.merge(
    groc_merge, grocery_2016, on="GeoID")

In [23]:
# Convert GeoID row to int to match merging Rural dataframe
groc_merge['GeoID'] = groc_merge['GeoID'].astype(int)

In [24]:
print(groc_merge.dtypes)
groc_merge.head()

GeoID           int64
G_Etab_2005    object
G_Etab_2006    object
G_Etab_2007    object
G_Etab_2008    object
G_Etab_2009    object
G_Etab_2010    object
G_Etab_2011    object
G_Etab_2012    object
G_Etab_2013    object
G_Etab_2014    object
G_Etab_2015    object
G_Etab_2016    object
dtype: object

,GeoID,G_Etab_2005,G_Etab_2006,G_Etab_2007,G_Etab_2008,G_Etab_2009,G_Etab_2010,G_Etab_2011,G_Etab_2012,G_Etab_2013,G_Etab_2014,G_Etab_2015,G_Etab_2016
0,1001,6,4,4,6,6,6,5,4,5,4,5,3
1,1003,29,27,23,25,24,25,27,26,30,29,30,29
2,1005,7,8,6,7,5,6,6,5,5,5,4,4
3,1007,9,8,7,7,6,6,6,5,5,5,5,5
4,1009,10,9,6,8,6,6,7,8,7,6,5,5

## Read in County Rural Labels

In [25]:
county_df = pd.read_csv('Grocery_Output/County_Rural_Clean.csv', encoding='utf-8')
# county_df['GeoID'] = county_df['GeoID'].astype(object)
print(county_df.dtypes)
county_df.head()

GeoID             int64
County           object
State            object
PercentRural    float64
Rural            object
dtype: object

   GeoID          County     State  PercentRural     Rural
0   1001  Autauga County   Alabama          42.0     Urban
1   1003  Baldwin County   Alabama          42.3     Urban
2   1005  Barbour County   Alabama          67.8  Suburban
3   1007     Bibb County   Alabama          68.4  Suburban
4   1009   Blount County   Alabama          90.0  Suburban

In [26]:
grocery_data = pd.merge(
    groc_merge, county_df, on="GeoID")

In [27]:
grocery_data.head()

,GeoID,G_Etab_2005,G_Etab_2006,G_Etab_2007,G_Etab_2008,G_Etab_2009,G_Etab_2010,G_Etab_2011,G_Etab_2012,G_Etab_2013,G_Etab_2014,G_Etab_2015,G_Etab_2016,County,State,PercentRural,Rural
0,1001,6,4,4,6,6,6,5,4,5,4,5,3,Autauga County,Alabama,42.0,Urban
1,1003,29,27,23,25,24,25,27,26,30,29,30,29,Baldwin County,Alabama,42.3,Urban
2,1005,7,8,6,7,5,6,6,5,5,5,4,4,Barbour County,Alabama,67.8,Suburban
3,1007,9,8,7,7,6,6,6,5,5,5,5,5,Bibb County,Alabama,68.4,Suburban
4,1009,10,9,6,8,6,6,7,8,7,6,5,5,Blount County,Alabama,90.0,Suburban

In [28]:
grocery_data.columns

Index(['GeoID', 'G_Etab_2005', 'G_Etab_2006', 'G_Etab_2007', 'G_Etab_2008',
       'G_Etab_2009', 'G_Etab_2010', 'G_Etab_2011', 'G_Etab_2012',
       'G_Etab_2013', 'G_Etab_2014', 'G_Etab_2015', 'G_Etab_2016', 'County',
       'State', 'PercentRural', 'Rural'],
      dtype='object')

In [29]:
# Reorganize columns
grocery_data = grocery_data[['GeoID', 'County', 'State', 'Rural', 
                             'G_Etab_2005', 'G_Etab_2006', 'G_Etab_2007', 'G_Etab_2008',
       'G_Etab_2009', 'G_Etab_2010', 'G_Etab_2011', 'G_Etab_2012',
       'G_Etab_2013', 'G_Etab_2014', 'G_Etab_2015', 'G_Etab_2016']]

In [30]:
print(grocery_data.dtypes)
grocery_data.head()

GeoID           int64
County         object
State          object
Rural          object
G_Etab_2005    object
G_Etab_2006    object
G_Etab_2007    object
G_Etab_2008    object
G_Etab_2009    object
G_Etab_2010    object
G_Etab_2011    object
G_Etab_2012    object
G_Etab_2013    object
G_Etab_2014    object
G_Etab_2015    object
G_Etab_2016    object
dtype: object

,GeoID,County,State,Rural,G_Etab_2005,G_Etab_2006,G_Etab_2007,G_Etab_2008,G_Etab_2009,G_Etab_2010,G_Etab_2011,G_Etab_2012,G_Etab_2013,G_Etab_2014,G_Etab_2015,G_Etab_2016
0,1001,Autauga County,Alabama,Urban,6,4,4,6,6,6,5,4,5,4,5,3
1,1003,Baldwin County,Alabama,Urban,29,27,23,25,24,25,27,26,30,29,30,29
2,1005,Barbour County,Alabama,Suburban,7,8,6,7,5,6,6,5,5,5,4,4
3,1007,Bibb County,Alabama,Suburban,9,8,7,7,6,6,6,5,5,5,5,5
4,1009,Blount County,Alabama,Suburban,10,9,6,8,6,6,7,8,7,6,5,5

In [31]:
# Convert Establishment numbers to int
grocery_data.iloc[:, 4:] = grocery_data.iloc[:, 4:].astype(int)

In [32]:
print(grocery_data.dtypes)

GeoID           int64
County         object
State          object
Rural          object
G_Etab_2005     int64
G_Etab_2006     int64
G_Etab_2007     int64
G_Etab_2008     int64
G_Etab_2009     int64
G_Etab_2010     int64
G_Etab_2011     int64
G_Etab_2012     int64
G_Etab_2013     int64
G_Etab_2014     int64
G_Etab_2015     int64
G_Etab_2016     int64
dtype: object

In [33]:
grocery_data.to_csv("Grocery_Output/GroceryData_RuralUrban.csv", index=False, header=True)